version: "3.9"

services:
  postgres:
    image: postgres:14
    container_name: transactai_postgres
    restart: always
    environment:
      POSTGRES_DB: transactai
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: transactai_backend
    restart: always
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: transactai
      DB_USER: postgres
      DB_PASS: postgres
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: >
      sh -c "
      sleep 5 &&
      python create_tables.py &&
      uvicorn api.main:app --host 0.0.0.0 --port 8000
      "

  pgadmin:
    image: dpage/pgadmin4
    container_name: transactai_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
